<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a
          class="navbar-brand inline-block"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                {{if eq .icon "trd"}}
                  <i class="fab">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 950 500.5">
                      <g id="D" fill="white">
                        <rect x="750" y="400" width="100" height="100"/><rect x="850" y="300.5" width="100" height="100"/><rect x="650" y="300" width="100" height="100"/><rect x="850" y="200.5" width="100" height="100"/><rect x="650" y="200" width="100" height="100"/><rect x="850" y="100.5" width="100" height="100"/><rect x="750" y="100" width="100" height="100"/><rect x="850" y=".5" width="100" height="100"/>
                      </g>
                      <g id="R" fill="white">
                        <rect x="300" y="400" width="100" height="100"/><rect x="300" y="300" width="100" height="100"/><rect x="300" y="200" width="100" height="100"/><rect x="500" y="100" width="100" height="100"/><rect x="400" y="100" width="100" height="100"/>
                      </g>
                      <g id="T" fill="white">
                        <rect x="100" y="400.5" width="100" height="100"/><rect y="300" width="100" height="100"/><rect y="200" width="100" height="100"/><rect x="100" y="100" width="100" height="100"/><rect y="100" width="100" height="100"/><rect width="100" height="100"/>
                      </g>
                    </svg>
                  </i>
                {{else}}
                <i class="{{ .icon }}"></i>
                {{end }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
