/* Add your own custom styles here */
.yt-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 2em;

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}